@charset "UTF-8";

:root {
  /* サイト全体で使う色を先に変数で定義 */
    --purple-main: rgb(227,216,234);
    --purple-sub: rgb(160,136,190);
    --pink: rgb(247,196,186);
    --oswald-font: "", sans-serif;
}

/* == 全体の編集 （ここから）== */
body {
    background-color: var(--purple-main);
}
/* wrapperで表示サイズを調整する */
.wrapper {
    width: 100vw;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    object-fit: cover;
    margin-bottom: 30px;
}
/* == 全体の編集 （ここまで）== */


/* == headerの編集 （ここから）== */
#header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
/* == headerの編集 （ここまで）== */


/* == mainの編集 （ここから）== */
/* 猫の画像 */
.charactor {
    width: 630px;
    margin-left: 20px;
}

/* アイテムの構成 */
.product-list {
    display: grid;
    gap: 20px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.product-list img {
    width: 100%;
    max-width: 1360px;
    height: 100;
    transition: opacity 0.3s ease;
    /* object-fit: cover; */
}

.product-list a {
    color: black;
    text-decoration: none;
    font-size: 95%;
}
.product-list img:hover {
    opacity: 0.7;
}
/* == mainの編集 （ここまで）== */


/* == footerの編集 （ここから）== */
.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 20px 0;
    justify-content: center;
}
.menu a {
    color: black;
    text-decoration: none;
}
/* == footerの編集 （ここまで）== */
